%header
  = image_tag("rails.png", :alt => '27sparks')
  = title
  %nav
    %ul
      %li= link_to "Home", root_path
      %li= link_to "Help", help_path
      %li= link_to "Register", register_path
      %li= link_to "Sign in", '#'